# Archivos temporales de SQLite
*.db-shm
*.db-wal
*.db-journal

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.useros
*.resharper
*.sln.docstates
*.code-workspace # Para VS Code

# Build results and temporary files
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.dll
*.exe
*.pdb
*.tmp
*.log
*.bak
*.cache
*.ncb
*.opensdf
*.sdf
*.ipch
_ReSharper.*/
[Tt]est[Rr]esults/
[Bb]uild[Ll]og.htm
[Bb]uild[Ll]og.txt
[Ss]ource[Ii]nfo/

# Packages
packages/
*.nupkg
*.snk
*.vstemplat
*.vsix
*.vsixmanifest
_UpgradeReport_Files/
.nuget/packages/
.nuget/tools/
.nuget/tmp/

# Database files
# Ignora todos los archivos .db por defecto
*.db
# EXCEPTO los archivos .db dentro de la carpeta 'database/' en la raíz
!/database/*.db


*.mdf
*.ldf

# Azure Web Sites
app_data/

# Node modules
node_modules/

# Environment variables
.env
.env.local

# Archivos de configuración de desarrollo que no deben subirse a producción
appsettings.Development.json